# Step 1: Problem Satement

predict the price of pizza depending on various parameter from the dataset.

# Step 2: Data Gathering

# importing  basic libraries

In [2]:
import pandas as pd
import numpy as np 
from random import randint
from scipy import stats
import os

#for date time
import datetime
from datetime import datetime as dt

# for data visualization 
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline

# from pandas_profiling import ProfileReport
import seaborn as sns
import plotly.express as px
from plotly.offline import plot
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# to disable warnings
import warnings
warnings.filterwarnings(action="ignore")

In [3]:
folder=r'C:\dec_end\ml_project\pizza_price_prediction\Dataset'
file=r'pizza_v1.csv'
path=os.path.join(folder,file)
path

'C:\\dec_end\\ml_project\\pizza_price_prediction\\Dataset\\pizza_v1.csv'

In [4]:
data=pd.read_csv(path)
data

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese
0,A,"Rp235,000",22.0,chicken,double_signature,jumbo,yes,yes
1,A,"Rp198,000",20.0,papperoni,double_signature,jumbo,yes,yes
2,A,"Rp120,000",16.0,mushrooms,double_signature,reguler,yes,yes
3,A,"Rp155,000",14.0,smoked beef,double_signature,reguler,yes,no
4,A,"Rp248,000",18.0,mozzarella,double_signature,jumbo,yes,no
...,...,...,...,...,...,...,...,...
124,E,"Rp39,000",8.5,tuna,spicy tuna,small,yes,yes
125,E,"Rp72,000",12.0,tuna,spicy tuna,medium,yes,yes
126,E,"Rp99,000",14.0,tuna,spicy tuna,large,yes,yes
127,E,"Rp44,000",8.5,meat,BBQ_meat_fiesta,small,yes,no
128,E,"Rp78,000",12.0,meat,BBQ_meat_fiesta,medium,no,no

In [5]:
folder=r'C:\dec_end\ml_project\pizza_price_prediction\Dataset'
file2=r'pizza_v2.csv'
path2=os.path.join(folder,file2)
path2

'C:\\dec_end\\ml_project\\pizza_price_prediction\\Dataset\\pizza_v2.csv'

In [6]:
data2=pd.read_csv(path)
data2

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese
0,A,"Rp235,000",22.0,chicken,double_signature,jumbo,yes,yes
1,A,"Rp198,000",20.0,papperoni,double_signature,jumbo,yes,yes
2,A,"Rp120,000",16.0,mushrooms,double_signature,reguler,yes,yes
3,A,"Rp155,000",14.0,smoked beef,double_signature,reguler,yes,no
4,A,"Rp248,000",18.0,mozzarella,double_signature,jumbo,yes,no
...,...,...,...,...,...,...,...,...
124,E,"Rp39,000",8.5,tuna,spicy tuna,small,yes,yes
125,E,"Rp72,000",12.0,tuna,spicy tuna,medium,yes,yes
126,E,"Rp99,000",14.0,tuna,spicy tuna,large,yes,yes
127,E,"Rp44,000",8.5,meat,BBQ_meat_fiesta,small,yes,no
128,E,"Rp78,000",12.0,meat,BBQ_meat_fiesta,medium,no,no

In [7]:
data.shape

(129, 8)

In [8]:
data2.shape

(129, 8)

# Step 3: EDA

### 3.1 Display top 5 rows of dataset.

In [9]:
data.head()

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese
0,A,"Rp235,000",22.0,chicken,double_signature,jumbo,yes,yes
1,A,"Rp198,000",20.0,papperoni,double_signature,jumbo,yes,yes
2,A,"Rp120,000",16.0,mushrooms,double_signature,reguler,yes,yes
3,A,"Rp155,000",14.0,smoked beef,double_signature,reguler,yes,no
4,A,"Rp248,000",18.0,mozzarella,double_signature,jumbo,yes,no

### 3.2. Display end 5 rows of dataset.

In [10]:
data.tail()

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese
124,E,"Rp39,000",8.5,tuna,spicy tuna,small,yes,yes
125,E,"Rp72,000",12.0,tuna,spicy tuna,medium,yes,yes
126,E,"Rp99,000",14.0,tuna,spicy tuna,large,yes,yes
127,E,"Rp44,000",8.5,meat,BBQ_meat_fiesta,small,yes,no
128,E,"Rp78,000",12.0,meat,BBQ_meat_fiesta,medium,no,no

### 3.3 Display random 5 rows of dataset.

In [11]:
data.sample()

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese
29,B,"Rp83,000",17.0,chicken,new_york,XL,no,yes

### 3.4 find shape of dataset. row number and column no.

In [12]:
print(f"number of row in dataset is : {data.shape[0]}")
print(f"number of features in dataset is : {data.shape[1]}")
print(f"shape of dataset is : {data.shape}")

number of row in dataset is : 129
number of features in dataset is : 8
shape of dataset is : (129, 8)

### 3.5 get information about dataset like total  number of rows , total number of col, memory

In [ ]:
data.info()

In [ ]:
data.describe()

### 3.6 check the Null values in dataset

In [ ]:
data.isna().sum()

In [ ]:
#null and missing data dataframe percentage

null_frame=pd.DataFrame(index=data.columns.values)
null_frame['Null Frequency']=data.isnull().sum().values
percent=data.isnull().sum().values/data.shape[0]
null_frame['Missing %age']=np.round(percent, decimals=4)*100
null_frame.transpose()

### 3.6.1 calculating number of Zeros in dataset  i.e. not possible

In [ ]:
data.columns

In [ ]:
data_copy=data.copy(deep=True)

In [ ]:
# as zero 0 value means not proper entry we will replace it by nan 
data_copy[['company', 'price_rupiah', 'diameter', 'topping', 'variant', 'size',
       'extra_sauce', 'extra_cheese']]=data_copy[['company', 'price_rupiah', 'diameter', 'topping', 'variant', 'size',
       'extra_sauce', 'extra_cheese']].replace(0,np.nan)

In [ ]:
data_copy.isna().sum()

### 3.7 get overall statistics about the dataset.

In [ ]:
data.describe(include='all')

### 3.8 Distribution of data

In [ ]:
data['price_rupiah'].value_counts()

### 3.10 Checking duplicate and remove duplicate datapoints.

In [ ]:
duplicate=data[data.duplicated()]
duplicate

In [ ]:
print('conatins redudant records ',data_copy.duplicated().any())
print('duplicated count',data_copy.duplicated().sum())
print('data shape',data_copy.shape)

### data preprocessing

In [ ]:
data.head()

In [ ]:
# remove rp from features  
data.rename ({'price_rupiah':'Price'},axis=1,inplace=True)
data.head()

In [ ]:
data['Price']=data['Price'].str.replace("Rp","")

In [ ]:
data.head()

In [ ]:
data['Price']=data['Price'].str.replace(",","").astype('int32')
data.head()

In [ ]:
data.info()

In [ ]:
# convert rupiah to indian rupees 

def convert(value):
    return value*0.0054

In [ ]:
data['Price']=data['Price'].apply(convert)
data.head()

In [ ]:
data['diameter']=data['diameter'].astype('float32')
data['diameter'].dtype

### 3.11 univariate analysis

df.column.hist()
plt.show() ---numerical features

sns.countplot(df.col)
plt.show()

In [ ]:
data.columns

In [ ]:
data['company'].value_counts()

####  price

In [ ]:
import matplotlib.pyplot as plt
plt.hist(x='Price',data=data)
plt.title("price distribution")
plt.show()

In [ ]:
data['diameter'].value_counts()

In [ ]:
print(data['diameter'].value_counts())

In [ ]:
data.columns

In [ ]:
for i in data.columns:
    print(f"univariate analysis for {i} is below : ")
    print(data[i].value_counts())
    sns.countplot(data[i])
#     import matplotlib.pyplot as plt
    plt.hist(x=i,data=data)
    plt.title(f"{i}")
    plt.show()

#### diameter

In [ ]:
sns.countplot(data['diameter'])

In [ ]:
sns.countplot(y=data['topping'])

In [ ]:
sns.countplot(y=data['variant'])

In [ ]:
sns.countplot(y=data['size'])

### 3.12 Bivariate analysis

input---output feature
1. cat>> cat------1.crosstab 2. heatmaps 3. stacked bar charts
2. cat>> cont ----1. boxplot 2. violin plt 3. swam plt 4. count plt 5. bar plot
3. cont >> cont ---1. scatter plot 2. line plots

## price vs company

In [ ]:
data.columns

In [ ]:
sns.barplot(data['company'],data['Price'])

### price by topping

In [ ]:
sns.barplot(y=data['topping'],x=data['Price'])

In [ ]:
sns.boxplot(y=data['topping'],x=data['Price'])

## find most expensive pizza

In [ ]:
data['Price'].max()

In [ ]:
data[data['Price'].max()==data['Price']]

### find diameter of jumbo size pizza

In [ ]:
data[data['size']=='jumbo']

In [ ]:
data[data['size']=='jumbo']['diameter'].head()

### find diameter of XL size pizzas

In [ ]:
data[data['size']=='jumbo']['diameter'].head()

### lets remove outliers

In [ ]:
data[(data['size']=='jumbo')&(data['diameter']<=16)]

In [ ]:
data=data.drop(data.index[[6,11,16,80]])

In [ ]:
data[(data['size']=='jumbo')&(data['diameter']<=16)]

#### label encoding

In [ ]:
cat_cols=data.select_dtypes(include=['object']).columns
cat_cols

In [ ]:
data.info()

In [ ]:
cont_cols=data.select_dtypes(include=['float64','float32']).columns
cont_cols

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
for i in cat_cols:
    data[i]=le.fit_transform(data[i])
    
data.head()

# Step 4: Feature Engineering

### 4.1 check numerical feature and categorical features

In [ ]:
type_frame=pd.DataFrame(data=data.dtypes,columns=['Type'])
type_frame.transpose()

# Step 5: Feature Selection

*

## Step 6: Model Training

### 6.1 Splitting the data

In [ ]:
data.columns

In [ ]:
x=data.drop('Price',axis=1)
y=data['Price']

In [ ]:
x

In [ ]:
y

### 6.2 Train/Test split

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

print(f"shape of independent feature training dataset is {x_train.shape}")
print(f"shape of independent feature training dataset is {x_test.shape}")
print(f"shape of dependent feature training dataset is {y_train.shape}")
print(f"shape of dependent feature training dataset is {y_test.shape}")

### 6.3 Import the model

In [ ]:
# regression

from sklearn.linear_model import LinearRegression
lr=LinearRegression()

from sklearn.svm import SVR
svr=SVR()

from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()

from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor()

from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()

# from xgboost import XGBRegressor
# xgb=XGBRegressor()

### 6.4 Model training

In [ ]:
lr.fit(x_train,y_train)
svr.fit(x_train,y_train)
rf.fit(x_train,y_train)
dt.fit(x_train,y_train)
gbr.fit(x_train,y_train)

## Step 7: Model Evaluation

### 7.1 Predict on test data

In [ ]:
y_pred_lr=lr.predict(x_test)
y_pred_svr=svr.predict(x_test)
y_pred_rf=rf.predict(x_test)
y_pred_dt=dt.predict(x_test)
y_pred_gbr=gbr.predict(x_test)

### 7.2 Evaluate the model accuarcy

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score_lr=r2_score(y_test,y_pred_lr)
r2_score_svr=r2_score(y_test,y_pred_svr)
r2_score_rf=r2_score(y_test,y_pred_rf)
r2_score_dt=r2_score(y_test,y_pred_dt)
r2_score_gbr=r2_score(y_test,y_pred_gbr)

In [ ]:
r2_data=pd.DataFrame({'models':['LR','SVR','RF','DT','GBR'],
                        'ACC':[r2_score(y_test,y_pred_lr),
                               r2_score(y_test,y_pred_svr),
                               r2_score(y_test,y_pred_rf),
                               r2_score(y_test,y_pred_dt),
                               r2_score(y_test,y_pred_gbr)]})

r2_data

In [ ]:
sns.barplot(r2_data['models'],r2_data['ACC'])

In [ ]:
rf.feature_importances_

In [ ]:
fea=pd.Series(rf.feature_importances_,index=x.columns)
fea

In [ ]:
fegbr=pd.Series(gbr.feature_importances_,index=x.columns)
fegbr

### 7.5 Final Model selection

In [ ]:
rf=RandomForestRegressor()

### 7.6 Train model on complete dataset

In [ ]:
rf.fit(x,y)

### 7.7 Create user test function

In [ ]:
x.columns

In [ ]:
x.head(1)

In [ ]:
y.head(1)

In [ ]:
a=input("enter value for company : ")
b=input("enter value for diameter : ")
c=input("enter value for topping : ")
d=input("enter value for variant : ")
e=input("enter value for size : ")
f=input("enter value for extra_sauce : ")
g=input("enter value for extra_cheese : ")

new_data=pd.DataFrame({'company': a,
                       'diameter':b, 
                       'topping':c, 
                       'variant':d, 
                       'size':e,
                       'extra_sauce':f, 
                       'extra_cheese':g, 
                       
    
},index=[0])
p=rf.predict(new_data)

print(f"pizza expected cost is  here : rupees{p} ")

if p[0]<=0:
    print("enter values are not proper please try again ")
else:
    print("thank for using this .")

### 7.8 Save the model

#### Saving final algorithm

In [ ]:
rf=RandomForestRegressor()
rf.fit(x,y)

#### Creating pickle file

In [ ]:
import pickle
# open a file, where you ant to store the data
file = open('prabhat_pizza_price_pred_rf.pkl', 'wb')

# dump information to that file
pickle.dump(rf, file)

#### Loading pickle file

In [ ]:
model = pickle.load(open('prabhat_pizza_price_pred_rf.pkl', 'rb'))

In [ ]:
r=x.head(1)
print(f"data for testing \n{r}")
print(f"result of testing data \n{y.head(1)}")
result=model.predict(r)
print(f"result of prediction is \n{result}")

In [ ]:
result1=model.predict([[0,22.0,2,8,1,1,1]])
result1

## Step 8: API Creation

### 1. Creating GUI

In [ ]:
from tkinter import *
import joblib

def show_entry():
    p1=float(e1.get())
    p2=float(e2.get())
    p3=float(e3.get())
    p4=float(e4.get())
    p5=float(e5.get())
    p6=float(e6.get())
    p7=float(e5.get())
    
    
    model = pickle.load(open('prabhat_pizza_price_pred_rf.pkl', 'rb'))
    result=model.predict([[p1,p2,p3,p4,p5,p6,p7]])
    
    Label(master,text="pizza expected price").grid(row=10)
    Label(master,text=result).grid(row=11)


master=Tk()
master.title("pizza price Prediction: ")
label=Label(master,text= "prabhat pizza price prediction",bg="black", fg="white").grid(row=0,columnspan=2)


#  'company', 'diameter', 'topping', 'variant', 'size', 'extra_sauce',
#        'extra_cheese'      

Label(master,text = "Enter your 'company' ").grid(row=1)
Label(master,text="Enter 'diameter'").grid(row=2)
Label(master,text="Enter 'topping'").grid(row=3)
Label(master,text="Enter 'variant'" ).grid(row=4)
Label(master,text="Enter 'size' ").grid(row=5)
Label(master,text="Enter 'extra_sauce' ").grid(row=6)
Label(master,text="Enter 'extra_cheese'").grid(row=7)


e1=Entry(master)
e2=Entry(master)
e3=Entry(master)
e4=Entry(master)
e5=Entry(master)
e6=Entry(master)
e7=Entry(master)


e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)



Button(master,text='Predict',command=show_entry).grid()

# mainloop()
master.mainloop()